Tuples are a type of data sequences 
Tuples are immutable
Tuple's elements are placed within paranthesis but not brackets

In [1]:
x = (40,41,42)
x

(40, 41, 42)

In [2]:
y = 50,51,52
y

(50, 51, 52)

In [3]:
a,b,c = 1,4,6
c

6

In [4]:
List_1 = [x,y] # using tuples in a list
List_1

[(40, 41, 42), (50, 51, 52)]

In [6]:
(age, years_of_school) = "30,17".split #comma seperated 
print("His age is " + age)
print("He has attended school for " + years_of_school + "years")

His age is 30
He has attended school for 17years

Functions can provide tuples as return values

In [9]:
def square_info(x):
    A = x**2
    P = 4*x
    print("Area and Perimeter:")
    return A,P
square_info(4)

Area and Perimeter:

(16, 16)